mixin barraDeProgreso()
	.tile-progress.tile-red
		.tile-header
			h3
				|	Hola&nbsp;
				span.user Wilson
			span Realiza tus tareas y completa el proyecto
		.tile-progressbar
			span.porcentaje(data-fill="0%" style="width: 0%;")
		.tile-footer
			h4
				span.pct-counter 0%
				|	Avanzado
			span Incleible te falta poco, sigue asi!