nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
  .container
    div.logo 
      div.logo__box
        span BT
    a.navbar-brand(href="/") Banktask
    div(class="collapse navbar-collapse")
      ul(class="navbar-nav me-auto mb-2 mb-lg-0")
        li.nav-item 
          a.nav-link(href="/") Inicio
      span.navbar-text
        a(href="#").btn.btn-outline-primary 
          i.bi.bi-box-arrow-right &nbsp;
          | Cerrar Session
