nav(class="navbar navbar-expand-lg navbar-light bg-light")
  .container
    a.navbar-brand(href="/") Uptask Administrador de Proyectos
    div(class="collapse navbar-collapse")
      ul(class="navbar-nav me-auto mb-2 mb-lg-0")
        li.nav-item 
          a.nav-link.active(href="#") Inicio
      span.navbar-text
        a(href="#").btn.btn-outline-light.text-dark Cerrar Session
