extends layout
block contenido

  include mixins/crear-proyectos

  .row
    .col-12
      h1.display-6.mt-3 #{nombrePagina}
  
  .row.alert.alert-primary
    .col-9 
      //- pre= vardump(proyecto)
      if errors
        each error in errors.errors 
          .alert.alert-danger(role="alert")
            | #{error.msg}
      +crearProyecto(proyecto)
