.top {  

  color: #fff;
  .toolbar {
    background-color: #EA5C2B;
    height: 25px;

    .options {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
  a {
    color: #fff;
    // color: #212529;
    text-decoration: none;
  }
}

.bg-primary {
  background-color: #FF7F3F !important;
}

.navbar-brand {
  small {
    font-size: 12px;
  }
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: .5rem;

  .logo__box {
    background-color: #fff;
    color: #FF7F3F;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
  }
}